//- ballot.pug

extends ../layout.pug

block contents
    div.contents
        h1 E-Vote
        h2 Your voter credentials:
        div.voter
            h4 Name
            p#voterName 
                span#firstName #{voter.firstName} 
                span#lastName #{voter.lastName}

            h4 Address
            p#voterAddress #{voter.address} #{voter.addressStreet}, #{voter.city}, #{voter.state} #{voter.country}

            h4 Token
            p#voterAuthToken #{voter.token}

        br

        div#userVoted
            h3 You have already placed your vote
            p Thank you for your participation 

        form#postBallot(method='post' action='/confirmation')
            input(type='hidden' name='type' value='general')
            div.col-sm-8#ballotContent
                       
                for item in elections.offices
                    div.form-group
                        h3 #{item.position}
                        for candidate, i in item.candidates
                            label(for=item.position) #{candidate.fname} #{candidate.lname}
                            input(type="radio" name=item.position value=item.position+i)
                            br
                br

                for item in elections.propositions
                    div.form-group
                        h3 #{item.description}
                        label(for=item.name) YES
                        input(type="radio" name=item.name value=item.propositionID)
                        br
                        label(for=item.name) NO
                        input(type="radio" name=item.name value=item.propositionID)
                        br
                br

                div.form-group
                    button#submit(type='submit' value="submit") Submit

    script
        include ../../src/ballotScript.js