//- ballot.pug

extends ../layout.pug

block contents
    div.contents
        h1 E-Vote
        h2 Your voter credentials:
        div.voter
            h4 Name
            p#voterName #{firstName} #{lastName}

            h4 Address
            p#voterAddress #{addressStreet}

            h4 Token
            p#voterAuthToken #{token}

        br

        div#userVoted
            h3 You have already placed your vote
            p Thank you for your participation 

        form#postBallot(method='' action='')
            div.col-sm-8#ballotContent
                       
                for item in elections.offices
                    div.form-group
                        h3 #{item.position}
                        for candidate, i in item.candidates
                            label(for=item.position) #{candidate.firstName} #{candidate.lastName}
                            input(type="radio" name=item.position value=item.position+i)
                            br
                br
                div.form-group
                    button#submit(type='button' onclick="getBallot()") Submit

    script
        include ../../src/ballotScript.js